.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
  "h h"
  "n c";
  width: 1200px;
}
.header{
  grid-area: h;
  background: red
}
.logo{
  width: 6.7rem;
}
.nav{
  grid-area: n;
  background: green
}
.content{
  grid-area: c;
  background: gray
}